body {
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}

button {
    padding: 10px 20px 10px 20px;
    background-color: rgb(28, 116, 194);
    border-radius: 2px;
    border: gray 1px solid;
    color: aliceblue;
}

select {
    padding: 10px 20px 10px 20px;
    background-color: rgb(28, 116, 194);
    border-radius: 2px;
    border: gray 1px solid;
    color: aliceblue;
}

button:hover {
        background-color: rgb(34, 90, 138);
    }

#reset {
    display: none;
}

#msg {
    min-height: 16px;
}

#game-screen {
    display: none;
}